# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/

# Ignore files created by MacOS
.DS_Store
files/STRAND.pdf
files/Group-members.pdf
images/gwp-news/26_05_27/sasha-candidacy-2026.mp4
images/gwp-news/26_05_27/sasha-candidacy-2026.gif
-delay
files/news/GWTC-5/GWTC-5 papers thoughts.pdf
files/news/GWTC-5/GMT20260529-170529_Recording_1832x982.mp4
files/news/GWTC-5/GWTC-5 papers thoughts.md
